@model DOANCUOIKYLTW.Models.CTDN

@{
    ViewBag.Title = "CreateCTDN";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Css/LayoutAdmin.css" rel="stylesheet" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="header-wrapper">
        <div class="header-title">
            <span>Tạo mới</span>
            <h2>Đơn hàng nhập</h2>
        </div>
        <div class="user-info">
            <img src="~/Images/add.png" alt="" />
        </div>
    </div>

    <div class="tabular-wrapper">
        <a href="/Admin_SanPham/Index">
            <div class="back">
                <i class='bx bx-arrow-back'></i>
            </div>
        </a>

        <div class="mainform1-container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="horizontal-group">

                <div class="form-group left">
                    @Html.LabelFor(row => row.MASP, "Sản phẩm", new { @class = "header-title" })
                    @Html.DropDownListFor(row => row.MASP, new SelectList(ViewBag.SanPham, "MASP", "TENSP"), new { @class = "textbox" })
                    @Html.ValidationMessageFor(row => row.MASP)
                </div>

                <div class="form-group right">
                    <div class="form-group">
                        @Html.LabelFor(row => row.SOLUONG, "Số lượng", new { @class = "header-title" })
                        @Html.TextBoxFor(row => row.SOLUONG, new { @class = "textbox", type= "number" })
                        @Html.ValidationMessageFor(row => row.SOLUONG)
                    </div>
                </div>
            </div>
            <input type="submit" value="Add" class="button" />
        </div>
    </div>
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
