@model DOANCUOIKYLTW.Models.DONNHAP

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Css/LayoutAdmin.css" rel="stylesheet" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="header-wrapper">
        <div class="header-title">
            <span>Chỉnh sửa thông tin</span>
            <h2>Đơn hàng</h2>
        </div>
        <div class="user-info">
            <img src="~/Images/pen-and-paper.png" alt="" />
        </div>
    </div>

    <div class="tabular-wrapper">
        <a href="/Admin_DonXuat/Index">
            <div class="back">
                <i class='bx bx-arrow-back'></i>
            </div>
        </a>

        <div class="mainform1-container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="horizontal-group">
                <div class="form-group left">
                    <table class="table">
                        <tr>
                            <th class="header-title">Mã đơn nhập</th>
                            <td>@Html.DisplayFor(model => model.MADN)</td>
                        <tr />
                        <tr>
                            <th class="header-title">Thời gian lập</th>
                            <td>@Html.DisplayFor(model => model.NGAYLAP)</td>
                        </tr>
                    </table>
                </div>

                <div class="form-group right">
                    <table class="table">
                        <tr>
                            <th class="header-title">Tổng tiền</th>
                            <td>@Html.DisplayFor(model => model.TONGTIEN)</td>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="TRANGTHAI" class="header-title">Trạng thái</label>
                                <select type="text" id="TRANGTHAI" name="TRANGTHAI" placeholder="Trạng thái" class="textbox">
                                    @if (Model.TRANGTHAI == "Đã đặt")
                                    {
                                        <option value="Đã đặt" selected>Đã đặt</option>
                                        <option value="Đã nhận">Đã nhận</option>
                                        <option value="Đã hủy">Đã hủy</option>
                                    }
                                    else if (Model.TRANGTHAI == "Đã nhận")
                                    {
                                        <option value="Đã nhận" selected>Đã nhận</option>
                                    }
                                    else if (Model.TRANGTHAI == "Đã hủy")
                                    {
                                        <option value="Đã hủy" selected>Đã hủy</option>
                                    }
                                    else
                                    {
                                        <option value="Đang giao" selected>Đang giao</option>
                                        <option value="Đã nhận">Đã nhận</option>
                                    }
                                </select>
                            </div>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="button" />
                </div>
            </div>
        </div>
    </div>

    <div class="tabular-wrapper">
        <h3 class="main-title">Thông tin chi tiết</h3>
        <div class="table-container">
            <table>
                <thead>
                <th>Sản phẩm </th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                </thead>
                @foreach (var hdnx in ViewBag.CTDN)
                {
                    <tr>
                        <td>@hdnx.SANPHAM.TENSP</td>
                        <td>@hdnx.SOLUONG</td>
                        <td>@hdnx.THANHTIEN</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
